* {
	box-sizing: border-box;
	}
	
	*:focus {
	  outline: none;
	}
	body {
		font-family: "Montserrat", sans-serif;
		background-color: transparent;
		padding: 50px;
	
		background-image: url("https://scontent-lis1-1.xx.fbcdn.net/v/t31.18172-8/1403473_480855798714422_8066921851196674484_o.jpg?_nc_cat=107&ccb=1-5&_nc_sid=973b4a&_nc_ohc=fY-BjVqp6D4AX8M5oll&_nc_ht=scontent-lis1-1.xx&oh=8268e69a984eb55f21b29c77867a1cd1&oe=61989C15");
	
	
		background-position: center center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
	
	
	
	
		
		}
	.login {
	margin: 20px auto;
	width: 300px;
    top: 200px;
    
	}
	.login-screen {
	background-color: rgb(152, 160, 189);
	padding: 5px;
	border-radius: 5px
    
	}
	.colorletra{
        color: rgb(255, 255, 255);
    }
	.app-title {
	text-align: center;
	color: rgb(255, 255, 255);
	
	}
 