@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background: #24252A;
}

body { 
    background-image: url("https://a0.muscache.com/im/pictures/57b9f708-bb12-498c-bc33-769f8fc43e63.jpg?im_w=2560");
    background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
}

.logo {
    cursor: pointer;
    border-radius: 20px;
    border: 6px solid white;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088A9;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.wrapper {
    position: fixed;
    bottom: 30px;
    left: 30px;
    max-width: 365px;
    border-color: #24252A;
    border-radius: 15px;
    padding: 25px 25px 30px 25px;
    text-align: center;
    background-color: #24252A;
}

.wrapper.hide{
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.wrapper img{
    max-width: 90px;
}

.wrapper .content {
    margin-top: 10px;
}

.content .header {
    font-size: 45px;
    font-weight: 600;
}

.content p {
    color: #858585;
    margin: 5px 0 20px 0;
}

.button .item {
    margin: 0 10px;  
}

.button a {
    color: rgba(0, 136, 169, 1);
}

.search{
    background: #24252A;
	margin: 10px;
	align-items: center;
	color: white;
	border: 1px solid black;
	padding: 5px;
	text-align: center;
    border-radius: 20px;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
}

input[type = date]{
    background-color: #24252A ;
    color: white;
}

input[type = submit]{
    background-color: #24252A ;
    font-family:"Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white ;
    text-decoration: none;
}

input[type = number]{
    background-color: #24252A ;
}


select{
    background-color: #24252A ;
    font-family:"Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white ;
    text-decoration: none;
}

.container{
    margin: auto;
    background-color: #24252A;
    width: 55%;
    align-items:center;
    padding: 30px;
    border-radius: 40px;
  
  }


  ul.slider{
    position: relative;
    width: 100%;
    height: 500px;
  }
  
  ul.slider li{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: inherit;
    height: inherit;
    background-color: black;
    transition: opacity 0.5s;
    border-radius: 40px;
  }
  
  ul.slider li img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 40px;
  
  
  }
  
  ul.slider li:first-child{
    opacity: 0;
  
  }
  
  ul.slider li:target{
    opacity: 1;
  
  }
  
  .menu{
    text-align: center;
    margin: 40px;
  }
  
  .menu li{
    display: inline-block;
    text-align: center;
  }
  
  .menu li a{
    display: inline-flex;
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 10px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    border-radius: 100%;
    margin: 20px;
    
  }

